

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
  
</head>
<body>

    <div id="Title">
        <h2>TheBetting Site</h2>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>footer</p>
        </footer>
    </div>

    
</body>
</html>