@model IEnumerable<BettingClient.Bruger>


@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Start</h1>

    <ul>
        @foreach (var b in Model)
        {
            <li>
                @b;
                @Html.ActionLink("Vælg bruger", "Bruger", new { id = b.id });

            </li>
        }
        @Html.ActionLink("Create", "Create")
        @Html.ActionLink("Home", "Index")
    </ul>
</body>
</html>
